[submodule "cacao"]
	path = cacao
	url = https://github.com/h0353914/libcacao.git
[submodule "SemcCameraUI"]
	path = SemcCameraUI
	url = https://github.com/h0353914/SemcCameraUI-xxhdpi-release
[submodule "Auxiliary"]
	path = Auxiliary
	url = https://github.com/h0353914/Auxiliary
[submodule "CameraPanorama"]
	path = CameraPanorama
	url = https://github.com/h0353914/CameraPanorama-release
	branch = java-2.3.1.B.0.6-a15
